body {
    margin: 0;
    background: black;
    font-family: sans-serif;
}

.headersContainer {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}

header {
    padding: 15px;
    background: white;
}

a {
    text-align: center;
    line-height: 16px;
    position: relative;
    z-index: 0;
    text-overflow: ellipsis;
    border-radius: 12px;
    padding: 8px 16px;
    color: #111;
    text-decoration: none;
}

a:has(.dropDownArrow) {
    display: flex;
    grid-gap: 5px;
    align-items: center;
}

.headerInner {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.headerStart {
    grid-gap: 0;
    display: flex;
    align-items: center;
}

.huggingLogoMiddle .headerInner {
    justify-content: center;
}

.headerStart a {
    font-weight: 900;
}

.menu {
    display: flex;
    grid-gap: 15px;
}

.newHeaderv1 {
    filter: invert(1);
    font-family: inherit;
}

.playNowButton {
    background: rgb(11, 196, 226);
}