body {
    margin: 0;
    background: black;
    font-family: sans-serif;
}

.headersContainer {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}

header {
    padding: 40px;
    background: white;
}

a {
    color: black;
    text-decoration: none;
}

.headerInner {
    display: flex;
    justify-content: space-between;
}

.headerStart a {
    font-weight: 900;
}

.menu {
    display: flex;
    grid-gap: 35px;
}

/* .logoMiddleHeader {
    ;
} */